body {
  margin: 0;
}
/* gallery container */
.gallery {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 3rem;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1rem;
}
/*gallery images */
.gallery a {
  text-align: center;
}

/* search input container */
.search-box {
  padding: 2rem;
  text-align: center;
  margin: 0;
}
/* search input */
input {
  width: 80%;
  padding: 1rem;
  border-radius: 6px;
  outline: none;
  transition: all 0.3s ease-in;
}
/* input when focused/active */
input:focus {
  border: 2px solid rgb(86, 201, 236);
  background-color: rgb(209, 209, 209);
}
/* inputs placeholder */
input:focus::placeholder {
  color: white;
  font-size: 1rem;
}

/* ==========Media Query's============= */
/* tablet view and larger */
@media only screen and (min-width: 768px) {
  .search-box input {
    /* resize search bar */
    max-width: 50%;
  }
}
